/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
}

/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.outfit-<uniquifier> {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* Colors */

:root {
    /* Primary */
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    /* Neutral */
    --very-dark-blue-main-bg: hsl(217, 54%, 11%);
    --very-dark-blue-card-bg: hsl(216, 50%, 16%);
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: var;
}

.background {
    height: 100vh;
    width: 100vw;
    background-color: var(--very-dark-blue-main-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--very-dark-blue-card-bg);
    width: 355px;
    height: 625px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    box-shadow: 
        0px 30px 30px 30px rgba(14, 20, 34, 0.3),
        0px 30px 35px 35px rgba(19, 26, 43, 0.15); 
}

.card .containerImage {
    position: relative;
    display: inline-block;
    border-radius: 10px;
}

.card .containerImage .equilibriumImage {
    width: 100%;
    height: 320px;
    transition: 0.3s ease;
    object-fit:contain;
    border-radius: 10px;
}

.card .containerImage .viewImage {
    position: absolute;
    top: 43%;
    left: 43%;
    width: 50px;
    height: 50px;
    opacity: 0;
    transition: 0.3s ease;
}

.containerImage:hover .viewImage{
    opacity: 1;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0;
    transition: 0.3s ease;
    border-radius: 10px;
}

.containerImage:hover .overlay {
    opacity: 0.4;
    cursor: pointer;
}

.card h1 {
    font-size: 22px;
    color: var(--white);
    font-weight: 500;
    width: 88%;
    transition: 0.3s ease;
}

.card h1:hover {
    color: var(--cyan);
    cursor: pointer;
    transition: 0.3s ease;
}

.card p {
    color: var(--soft-blue);
    font-weight: 300;
    width: 88%;
    text-align: start;
}

.content {
    width: 88%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .content .ethereum {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card .content .ethereum p {
    font-weight: 500;
    color: var(--cyan);
}

.card .content .clock {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card .content .clock p {
    font-weight: 300;
}

.card .line {
    width: 88%;
    border-top: 1px solid var(--very-dark-blue-line);
}

.avatar {
    width: 88%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.card .avatar img {
    width: 35px;
    border: 1px solid var(--white);
    border-radius: 50%;
    object-fit: cover;
}

.avatar p {
    color: var(--soft-blue);
    font-weight: 300;
}

.avatar p span {
    color: var(--white);
    transition: 0.3s ease;
}

.avatar p span:hover {
    color: var(--cyan);
    cursor: pointer;
    transition: 0.3s ease;
}








